.clock {
    position: relative;
    width: 700px;
    height: 250px;
    background: rgba(255,255,255,0.05);
    z-index: 1000;
    border-radius: 20px;
    border: 1px solid rgba(255,255,255,0.1);
    backdrop-filter: blur(20px);
       }
       .clock .container {
           display: flex;
           justify-content: center;
           align-items: center;
           height: 100%;
       }
       .clock .container h2 {
           font-size: 6em;
           color: white;

       }